.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.customer {
    background-color: lightblue;
    border: 3px solid red;
    padding: 5px;
    margin: 5px;
}

header {
    text-shadow: 5px black;
    background-color: white;
}

h2 {
    display: flex;
    width: fit-content;
    background-color: white;
    border: 3px solid palegreen
}

.customer {
    /* Your existing styles for the customer section */

    /* Add flex styles */
    display: flex;
    flex-direction: column;
}

.loyalty-info {
    /* Add flex styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.update-loyalty-button {
    /* Add styles for the update button */
    /* Example styles */
    padding: 1px 3px;
    background-color: #007bff;
    border: 3px solid palegreen;
    color: #fff;
    font-weight: 900;
}

.purchase_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightblue;
    border: 3px solid red;
    margin: 5px;
}