/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  display: flex;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
    padding: 0 3rem;
    background-image: url("https://garden.spoonflower.com/c/13322387/p/f/m/UlmJtOYSmD7tg7Ek3nIQjJjROAVzobO8VDCPgdu6PfFDlzYH8U1c/Sweet%20Treats%20Gum%20Drops%20And%20Lollipops%20.jpg");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

